main { 
    background-color: sandybrown; 
    position: fixed;
    top: 5rem;
    bottom: 0;
    align-items: center; 
    margin-left: 350px; 
    width: calc(100vw - 350px); 
    overflow-y: scroll;
}

.calendar { 
    margin: auto;
    width: 800px;  
    min-width: 800px;
    min-height: 550px;
    background-color: rgb(115, 115, 206); 
    border-radius: 10px; 
}

.month { 
    display: flex; 
    justify-content: space-between; 
    border-radius: 10px 10px 0px 0px; 
    background-color: rgb(53, 165, 53); 
    align-items: center; 
    width: 100%; 
    height: 6rem; 
    padding: 0px 2rem; 
}

.month i { 
    cursor: pointer; 
    font-size: 2rem;
}

.month h1 { 
    text-align: center;
    text-transform: uppercase; 
    margin-bottom: 0.2rem; 
}

.month p { 
  /* delete if no style will be needed */
}

.weekdays { 
    background-color: pink; 
    width: 100%; 
    height: 3rem; 
    padding: 0px 0.4rem; 
    display: flex; 
    align-items: center; 
}

.weekdays div { 
    letter-spacing: 0.1rem; 
    width: calc(100vw - 350px); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.days { 
    width: 100%; 
    display: flex; 
    flex-wrap: wrap; 
    padding: 0.2rem; 
}

.days > div { 
    font-size: 22.4px; 
    margin: 10.4px; 
    width: calc(92.1143px); 
    height: 55px; 
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
    transition: background-color 0.2s ease 0s; 
}

.prev-date, .next-date { 
    opacity: 0.5; 
}

.today { 
    background-color: pink; 
    border-radius: 0rem; 
}

.current-month > div { 
    width: 100%;
    background-color: yellowgreen; 
    font-size: 0.6rem;
    justify-content: center;
    margin: 0;
    padding: 0.1rem;
}
