footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F5EAEC; 
    height: 1.5rem;
    font-size: 0.7rem;
    align-items: center;
}

a:link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #43547B;
    margin: 3px;
}

a:visited {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #43547B;
}

a:hover {
    color: #43547B;
}