* {
    margin: 0;
    box-sizing: border-box;
    overflow-y: scroll; 
}

body { 
    font-family: 'Montserrat', sans-serif;
    background-color: antiquewhite;
    height: 100vh;
}

/* REUSABLE CLASSES */
.flex { display: flex; }
.fixed { position: fixed; }
.justify-center { justify-content: center; }
.align-items { align-items: center;}
.text-center { text-align: center; }
.col { flex-direction: column; }
.row { flex-direction: row; }