aside {
    background-color: #F5EAEC;
    position: fixed;
    top: 5rem;
    height: calc(100vh - 4rem);
    width: 400px;
    overflow-y: scroll;  /* to be replaced by the correct scrollbar setting later */
}

#intro-container {
    height: 11rem;
    padding-top: 1rem;
}
