#todo-container {
    background-color: #ffffff77;
    display: flex;
    height: auto;
    margin: 1rem;
    padding: 1.2rem;
    border-radius: 20px;
}

.todoToday, .todo-selected, .todo-all {
    max-width: 400px;
    height: auto;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    margin: 0.2rem;
    padding: 20px;
}

.todo-fold {
    font-size: 1.5rem;
    cursor: pointer;
}

.todo-date-title {
    width: 100%;
    height: 2.1rem;
    padding-top: .3rem;
    border-radius: 10px;
    font-weight: 400;
    text-align: center;
    color: #43547B;
    background-color: #E1E7F5;
}

.todoList {
   padding: 0px;
   background-color: white;
   max-height: 230px;
   overflow-y: auto;
}

.todoList-all {
    display: none;
}

.date-display {
    font-size: 0.7rem;
    line-height: 0.5rem;
}

.todoList li {
    display: flex;
    list-style: none;
    line-height: 45px;
    height: 45px;
    position: relative;
    background-color: #F5EAEC;
    margin: 8px 0 8px 0;
    border-radius: 3px;
    padding: 0 15px;
    letter-spacing: 1px;
    cursor: default;
    overflow: hidden;
}

.todoList-all li {
    flex-direction: column;
    line-height: 30px;
}

.inputField {
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 25px;
}

.inputField > input {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1rem;
    height: 2.2rem;
    outline: none;
    border: 1px solid white;
    font-size: 1rem;
    border-radius: 10px;
    padding-left: 0.5rem;
}

.todo-item {
    width: 90%;
}

.input-date-and-button {
    margin: auto;
    width: 100%;
    margin-left: 1rem;
}

.todo-date {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    padding-left: 0.5rem;
}

.inputField button {
    width: 50px;
    height: 1.5rem;
    margin-left: 1rem;
    border: none;
    outline: none;
    background: #43547B;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.37;
    pointer-events: none;
}

.inputField button.active {
    opacity: 1;
    pointer-events: auto;
}

.trash {
    position: absolute;
    right: -45px;
    color: white;
    background: #a73131;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.edit {
    position: absolute;
    right: -45px;
    color: white;
    background: #43547B;
    width: 45px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.edit i, .trash i {
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
}

.todoList li:hover .trash {
    right: 0px;
}

.todoList li:hover .edit {
    right: 47px;
}

#todo-footer {
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

#todo-footer {
    font-size: 1rem;
}
#clear-all-btn {
    font-family: 'Montserrat', sans-serif;
    border: none;
    outline: none;
    background: #43547B;
    color: white;
    white-space: nowrap;
    font-size: 0.8rem;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 3px;
    padding: 0.2rem 0.6rem;
    opacity: 0.37;
    pointer-events: none;
}

#todo-footer button.active {
    opacity: 1;
    pointer-events: auto;
}

.disable {
    display: none;
}

/* Styling for date input */

input[type="date"] {
    background-color: #e4d2d5;
    padding: 5px;
    font-size: 1rem;
    color: #43547B;
    font-family: 'Montserrat';
    letter-spacing: 1px;
    border: none;
    border-radius: 10px;
    width: 11.5rem;
}

::-webkit-calendar-picker-indicator {
    color: #43547B;
    padding: .4rem;
    cursor: pointer;
}